body {
  background-image: url('/public/Background/Background.png');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.container-nav {
  margin-top: 73px;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  color: #FFFFFF;
}

.container-left-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.container-right-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-navbar {
  font-size: large;
  font-size: 25px;
  margin: 0 40px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.menu-navbar:hover {
  color: #A0E917;
  /* filter: drop-shadow(0 0 0.75rem #30443A); */
}

.logo-welcome-page {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  cursor: pointer;
  transition: 1.5s;
}

.logo-welcome-page:hover { 
  scale: 1.1;
}

.button-sign-in {
  width: 201px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 48.5px;
  background: #30443A;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border: none;
  transition: 1.5s;
  margin-right: 30px;
  margin-left: 30px;
}

.button-sign-in:hover {
  background: #A0E917;
  filter: drop-shadow(0 0 0.75rem #30443A);
  color: #30443A;
}



/*---------------------  Keyframe  ---------------------*/


