.EmpProfile-full-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    justify-self: start;
}

.EmpProfile-position-job {
    margin: 0px 0px 0px 0px;
    justify-self: start;
}

.EmpProfile-address {
    margin: 0px 0px 0px 0px;
    justify-self: start;
}

.EmpProfile-icon-location {
    margin-right: 10px;
}


.EmpProfile-grid-small-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
    margin-bottom: 10px;
}

.EmpProfile-box-icon-font-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.EmpProfile-icon-font-contact {
    display: block;
}

.EmpProfile-phone-number {
    justify-self: start;
}

.EmpProfile-description {
    margin: 0;
}

.EmpProfile-box-gmail {
    display: grid;
    justify-content: start;
    justify-items: start;

    .EmpProfile-gmail {
        margin: 5px;
    }
}

.EmpProfile-box-phone-number {
    display: grid;
    justify-content: start;
    justify-items: start;

    .EmpProfile-phone-number {
        margin: 5px;
    }
}

.EmpProfile-box-description {
    display: flex;

    .EmpProfile-description {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 330px;
        width: 330px;
    }
}

.EmpProfile-box-description {
    display: grid;
    width: 100%;
}

.EmpProfile-description {
    /* auto new line */
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    /* end */
}

.emp-profile-pdf {
    width: 350px;
    height: 300px;
}