/* .popup-sign-up {
    width: 800px;
    height: 850px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content-sign-up {
    width: 500px;
    height: 550px;
    background: #394D56;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-icon-sign-in {
    width: 45px;
    float: right;
    margin: 0;
    cursor: pointer;
    transition: 1.5s;
}

.close-icon-sign-in:hover {
    scale: 1.05;
}



.text-popup-sign-in {
    font-size: 40px;
    color: white;
    margin-bottom: 0;
    margin-left: 10%;

}


.input {
    width: 70%;
    font-size: 23px;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid #A0E917;
    text-align: center;
    border-radius: 30px;
    transition: 1.5s;
}

.input-login-and-register:focus {
    filter: drop-shadow(0 0 0.75rem #A0E917);
}

.text-top-input-sign-in {
    color: white;
    align-self: flex-start;
    padding-left: 10%;
    font-size: 16px;
}

.box-form-sign-in {
    display: flex;
    flex-direction: column;
}

.detail-popup-sign-in {
    display: flex;
    align-items: center;
}

.text-forgot-password {
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.text-sign-in-with {
    color: white;
    font-size: 16px;
    display: inline;
}

.icon-login-sign-in {
    cursor: pointer;
    width: 40px;
    margin-left: 20px;
    vertical-align: middle;
}

.other-login-with {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.google-icon {
    margin-left: 30px;
    transition: 1s;
}

.google-icon:hover {
    scale: 1.1;
}

.facebook-icon {
    margin-left: 30px;
    transition: 1s;
}

.facebook-icon:hover {
    scale: 1.1;
}

.button-sign-in-many {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 48px;
    font-size: 25px;
    color: #30443A;
    cursor: pointer;
    transition: 1.5s;
}



.login {
    margin-left: 60px;
    background-color: #A8EB12;
    margin-top: -100px;
}

.login:hover {
    color: #A0E917;
    background-color: #30443A;
    filter: drop-shadow(0 0 0.75rem #A0E917);
}


.sign-in {
    background-color: #D9D9D9;
}

.sign-in:hover {
    background-color: #394D56;
    filter: drop-shadow(0 0 0.75rem #ffffff);
    color: #ffffff;
}


.footer-button-sign-signup {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14%;
}



.box-of-button-sign-in {
    display: flex;
}


.footer-button-sign-login {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14%;
}

.other-login-with-sign-in {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other-login-login {
    margin-top: 10%;
} */