@tailwind base;
@tailwind components;
@tailwind utilities;

/* lao */
@font-face {
    font-family: 'NotoSanLao';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanslao/v30/bx6QNx2Ol_ixgdYWLm9BwxM3NW6BOkuf763Clj73Cg46D6ELWw.woff2) format('woff2');
    unicode-range: U+0E81-0EDF, U+200C-200D, U+25CC;
  }