.text-welcome {
    padding: 2%;
    color: #000;
    font-size: 72px;
    margin-bottom: 25px;
    font-weight: 500;
}

.button-let-start {
    width: 285px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #A0E917;
    color: #30443A;
    font-size: 30px;
    line-height: normal;
    /* border: 1px solid white; */
    border: none;
    transition: 2s;
}

.button-let-start:hover {
    color: #A0E917;
    background: #30443A;
    filter: drop-shadow(0 0 0.75rem #30443A);
}

.footer-box {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;

    width: 262px;
    height: 178px;
    flex-shrink: 0;
    margin: 24px;
    border-radius: 33px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.50);
    background: rgba(48, 68, 58, 0.75);
    transition: 1.5s;
    animation-duration: 1.5s;
}

.footer-box:hover {
    background: rgba(48, 68, 58, 0.286);
    cursor: pointer;

    .text-inside-box-welcome {
        color: #30443A;
        font-size: 14px;
    }

    .icon-footer-welcome {
        scale: 1.2;
    }
}

.footer-container-welcome {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.text-inside-box-welcome {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    transition: 1.5s;
}

.icon-footer-welcome {
    padding-top: 30%;
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0.9mm 0.2rem rgba(255, 255, 255, 0.25));
    transition: 1.5s;
}

.box-find-job-welcome {
    animation-name: slidein-1;
}

.box-find-employee-welcome {
    animation-name: slidein-1;

    .text-inside-box-welcome {
        margin-top: 25px;
    }

    .icon-footer-welcome {
        margin-top: -25px;
    }
}

.box-new-job-welcome {
    animation-name: slidein-1;
}

@keyframes slidein-1 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@font-face {
    font-family: fontNotosan;
    src: url(https://fonts.gstatic.com/s/notosanslao/v30/bx6lNx2Ol_ixgdYWLm9BwxM3NW6BOkuf763Clj73CiQ_J1Djx9pidOt4Q8btcZkL7rg.woff2);
}


div,
button {
    /* font-family: "Dosis"; */
    font-family: fontNotosan;
}



/* .box-center-welcome {
    font-family: fontNotosan;
     font-family: 'phetsarath OT';
}

.footer-container-welcome {
    font-family: 'phetsarath OT';
}

.container-right-nav {
    font-family: 'phetsarath OT';
}

.button-let-start {
    font-family: 'phetsarath OT';
} */